@import '../../global.scss';

.about-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
    text-align: start;

    @include mobile{
        margin: 4rem 2rem;
    }

    h1{
        padding-bottom: 1rem;
    }

    p{
        padding-bottom: 2rem;
    }
}